{% extends 'boardgame_matching/base.html' %}


{% block content %}

<!--'username', 'userid', 'game', 'number', 'area', 'place',
                  'date', 'comment')-->

<form method="post">
{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="form-group">
                <label class="form-label">お名前：</label>
                {{ form.username }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form.userid }}<!--隠しフィールド-->
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-label">遊びたいゲームやジャンル</label>
                {{ form.game }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-label">遊びたい地域</label>
                {{ form.area }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-label">カフェや場所</label>
                {{ form.place }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-label">希望日時</label>
                {{ form.date }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-label">参加人数</label>
                {{ form.number }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-label">コメント</label>
                {{ form.comment }}
            </div>
        </div>
            <button type="submit" class="btn btn-primary">募集をかける！</button>
    </div><!--container-->
    
</form>

{% endblock %}
