{% extends 'boardgame_matching/base.html' %}


{% block content %}

<form method="post">
{% csrf_token %}
    <div class="container">
        <div class="form-group">
            <label>お名前：</label>
            {{ form.username }}
        </div>
        <div>
            {{ form.userid }}
        </div>
        <div>
            {{ form.game }}
        </div>
        <div>
            {{ form.area }}
        </div>
        <div>
            {{ form.place }}
        </div>
        <div>
            {{ form.date }}
        </div>
        <div>
            {{ form.comment }}
        </div>
        <button type="submit" class="btn btn-primary">募集をかける！</button>
    </div><!--container-->
    
</form>

{% endblock %}
