{% extends 'boardgame_matching/base.html' %}
{% block title %}BBGMへようこそ{% endblock %}
{% block content %}


<div class="container">
<div class="row">
 
        <div class="col-12 col-lg-6">
        <div class="card">
    
        <div>
            名前: takadatakaka
        </div>

        <div>
            やりたいゲーム: 世界一面白いボードゲームアグリコラ
        </div>

        <div>
            募集地地区: 東京都　神奈川県
        </div>

        <div>
            開催場所（カフェなど）: いつもの場所
        </div>

        <div>
            予定日: 2020/3/21
        </div>

        <div>
            募集人数: 5人
        </div>
        
        <div>
            世界一面白いボードゲームアグリコラをやる。それ...
        </div>
        </div><!--card-->
    </div><!--col-->

    <div class="col-12 col-lg-6">
        <div class="card">
    
        <div>
            名前: takadatakaka
        </div>
        
        <div>
            やりたいゲーム: 世界一面白いボードゲームアグリコラ
        </div>

        <div>
            募集地地区: 東京都　神奈川県
        </div>

        <div>
            開催場所（カフェなど）: いつもの場所
        </div>

        <div>
            予定日: 2020/3/21
        </div>

        <div>
            募集人数: 5人
        </div>
        
        <div>
            世界一面白いボードゲームアグリコラをやる。それ...
        </div>
        </div><!--card-->
    </div><!--col-->
    
   </div><!--row-->

   <div class="row">
 
        <div class="col-12 col-lg-6">
        <div class="card">
    
        <div>
            名前: takadatakaka
        </div>

        <div>
            やりたいゲーム: 世界一面白いボードゲームアグリコラ
        </div>

        <div>
            募集地地区: 東京都　神奈川県
        </div>

        <div>
            開催場所（カフェなど）: いつもの場所
        </div>

        <div>
            予定日: 2020/3/21
        </div>

        <div>
            募集人数: 5人
        </div>
        
        <div>
            世界一面白いボードゲームアグリコラをやる。それ...
        </div>
        </div><!--card-->
    </div><!--col-->

    <div class="col-12 col-lg-6">
        <div class="card">
    
        <div>
            名前: takadatakaka
        </div>
        
        <div>
            やりたいゲーム: 世界一面白いボードゲームアグリコラ
        </div>

        <div>
            募集地地区: 東京都　神奈川県
        </div>

        <div>
            開催場所（カフェなど）: いつもの場所
        </div>

        <div>
            予定日: 2020/3/21
        </div>

        <div>
            募集人数: 5人
        </div>
        
        <div>
            世界一面白いボードゲームアグリコラをやる。それ...
        </div>
        </div><!--card-->
    </div><!--col-->
    
   </div><!--row-->
</div><!--list_container-->

{% endblock %}