{% extends 'boardgame_matching/base.html' %}


{% block content %}

<!--'username', 'userid', 'game', 'number', 'area', 'place',
                  'date', 'comment')-->
<div class='container recruitment-container'>
    <div>
        <label class="form-label">お名前</label>
        <p>{{ recruitment.username }}</p>
    </div>

    <div>
        <label class="form-label">遊びたいボードゲームなど</label>
        <p>{{ recruitment.game }}</p>
    </div>

    <div>
        <label class="form-label">集まる場所</label>
        {% for prefecture in recruitment.area.all %}
            {{ prefecture }}
        {% endfor %}
    </div>

    <div>
        <label class="form-label">集まるカフェや場所</label>
        <p>{{ recruitment.place }}</p>
    </div>

    <div>
        <label class="form-label">集まるカフェや場所</label>
        <p>{{ recruitment.date }}</p>
    </div>

    <div>
        <label class="form-label">募集人数</label>
        <p>{{ recruitment.number }}</p>
    </div>
    
    <div>
        <label class="form-label">コメント</label>
        <p>{{ recruitment.comment }}</p>
    </div>
    <div>
        <a href="{% url 'user_auth:update' recruitment.pk %}" class="btn">修正する！</a>
    </div>
</div>
{% endblock %}
