{% extends 'boardgame_matching/base.html' %}

{% block content %}

<form method="post">
{% csrf_token %}
    <div class="container">
    
        <div class="form-group">
            <label class="form-label">お名前</label>
            <p>{{ form.username }}</p>
        </div>
        <div >
            {{ form.userid }}<!--隠しフィールド-->
        </div>
        <div class="form-group">
            <label class="form-label">遊びたいゲームやジャンル</label>
            <p>{{ form.game }}</p>
        </div>
        <div class="form-group">
            <label class="form-label">遊びたい地域</label>
            <p>{{ form.area }}</p>
        </div>
        <div class="form-group">
            <label class="form-label">カフェや場所</label>
            <p>{{ form.place }}</p>
        </div>
        <div class="form-group">
            <label>希望日時</label>
            {{ form.date }}
        </div>
        <div>
            <label>参加人数</label>
            {{ form.number }}
        <div>
            <label>コメント</label>
            {{ form.comment }}
        </div>
        <button type="submit" class="btn btn-primary">募集をかける！</button>
    </div><!--container-->
    
</form>

{% endblock %}