{% extends 'boardgame_matching/base.html' %}


{% block content %}

<!--'username', 'userid', 'game', 'number', 'area', 'place',
                  'date', 'comment')-->
<div class='container'>
    <div>
        名前：{{ recruitment.username }}
    </div>

    <div>
        {{ recruitment.game }}
    </div>

    <div>
        {{ recruitment.area }}
    </div>

    <div>
        {{ recruitment.place }}
    </div>

    <div>
        {{ recruitment.date }}
    </div>

    <div>
        {{ recruitment.number }}
    </div>
    
    <div>
        {{ recruitment.comment }}
    </div>
</div>
{% endblock %}
