{% extends 'boardgame_matching/base.html' %}


{% block title %}BBGMへようこそ{% endblock %}

{% block content %}

    <div>
        <a href="{% url 'user_auth:logout' %}" >ログアウト</button></a>
    </div>
<div>
    <div>
      <p><b>ScreenName</b>:{{ user.access_token.screen_name }}</p>
        <p><b>UserId</b>:{{ user.access_token.user_id }}</p>
        <p><b>OAuthTokenSecret</b>:{{ user.access_token.oauth_token_secret }}</p>
        <p><b>OAuthToken</b>:{{ user.access_token.oauth_token }}</p>
        <p><b>AuthTime</b>:{{ user.extra_data.auth_time }}</p>

        ユーザー</br>
        {{user}}</br>
        id</br>
        {{user.id}}

    </div>
</div>
    <div class="container">

        

    </div>

{% endblock %}