{% extends 'boardgame_matching/base.html' %}
{% block title %}BBGMへようこそ{% endblock %}
{% block content %}
{% load static %}


<div class="jumbotron jumbotron-fluid"><!--topimage-->
        <div class="container container_jumbotron">
            <h1 class="display-4">BBGMへようこそ</h1>
            <p class="lead">BBGM(ぼっちボードゲームマッチング)は、お一人様専用のボードゲームマッチングサービスです</p>
            {% if user.id %}
                <a class="btn btn-recruitment" href="{% url "user_auth:recruitment" %}">募集</a>
            {% endif %}
        </div>
</div><!--topimage-->

<div class="container">
    <div class="row"><!--mainrow-->
        {% for list in object_list %}   
            <div class="col-6 col-lg-4">
                <a href="{% url "user_auth:detail" list.pk %}"class="card list-card"> 
                    {% for prefecture in list.area.all %}  
                        <span class="prefecture">{{ prefecture }}</span>
                    {% endfor %}
                <img class="card-img-top"src="{% static "user_auth/images/cardbody1.png" %}" alt="カード画像">
                    <div class="card-body list-card-body">
                        <div class="row card-game">
                            <div class="col-12">{{ list.game }}</div>
                            <div class="col-12 list-info">GAME</div>
                        </div>
                        <div class="row">
                            <div class="col-6 list-date">
                                <div class="row">
                                    <p class="list-data">{{ list.date }}</p>
                                </div>
                                <div class="row">
                                    <p class="list-info">DATE</p>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <p class="list-data">1/{{ list.number }}</p>
                                </div>
                                <div class="row list-info">
                                    <p class="list-info">NUMBER</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a><!--card-->
            </div><!--col-12 col-lg-4-->     
        {% endfor %} 
   </div><!--mainrow-->
</div><!--list_container-->


{% endblock %}