{% extends 'boardgame_matching/base.html' %}


{% block title %}BBGMへようこそ{% endblock %}

{% block content %}



<div class="container">
    <div class="row"><!--mainrow-->
        {% for list in object_list %}   
        <div class="col-12 col-lg-6">
        <a href="{% url 'user_auth:detail' list.pk %}" class="card">
            <div class="row">
                <div class="col-lg-4">
                    {% for prefecture in list.area.all %}
                        {{ prefecture }}
                    {% endfor %}
                    <div>
                        {{ list.date }}
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <div>
                                名前：{{ list.username }}
                            </div>
                            <div>
                                {{ list.number }}
                            </div>
                        </div><!--col-8-->

                        <div class="col-lg-8">
                            <div>
                                {{ list.game }}
                            </div>
                        </div><!--col-8-->

                        <div class="col-lg-8">
                            <div>
                                {{ list.place }}
                            </div>
                        </div><!--col-8-->
                    </div><!--rightcolrow-->
                </div><!--rightcol-->


            </div><!--overall row-->
        </a><!--card-->
        </div><!--col-12 col-lg-6-->

   {% endfor %} 
   </div><!--mainrow-->
</div><!--list_container-->

    <div class="container">

        

    </div>

{% endblock %}