{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "user_auth/top.css" %}">
<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- bootstrap4 -->
            {% load bootstrap4 %}
            {% bootstrap_css %}
            {% bootstrap_javascript jquery='full' %}

        <title>
        {% block title %}BBGM{% endblock %}
        </title>
    </head>
    <body class="body-conf">
        <nav class ="navbar navbar-dark bg-dark base-navbar">
            <span class ="navbar-brand">
                <a class='navbar-brand' href={% url 'user_auth:top_r' %}>BBGM</a>
            </span>

                <ul class="navbar-nav mr-auto">

                </ul>
                <ul class="navbar-nav">
                    {% if user.id == None %}
                        <li class="navbar-item">   
                            <a href={% url 'social:begin' 'twitter' %} class="btn nav-btn">ログイン</a>
                        </li>
                    {% else %}
                        <li class="navbar-item">
                            <span class="nav-user">{{user}}</span>
                            <a href="{% url 'user_auth:logout' %}" class="btn login_out_button">ログアウト</button></a>
                        </li>
                    {% endif %}
                </ul>


        </nav> <!-- navbar -->


        {% block content %}
            <!-- 継承先コンテンツ　-->
        {% endblock %}


    </body>
</html>
