{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- bootstrap4 -->
            {% load bootstrap4 %}
            {% bootstrap_css %}
            {% bootstrap_javascript jquery='full' %}

        <title>
        {% block title %}BBGM{% endblock %}
        </title>
    </head>
    <body>
        <nav class ="navbar navbar-dark bg-dark base-navbar">
            <span class ="navbar-brand">
            <a class='navbar-brand' href={% url 'user_auth:top' %}>BBGM</a>
            </span>
        

        <!--        {% if user.access_token.screen_name %}
        {{ user.access_token.screen_name }}
        <a href="{% url 'user_auth:logout' %}" >ログアウト</button></a>
        {% else %}
        <a href={% url 'social:begin' 'twitter' %}>ログイン</a>
        {% endif %}-->

            {% if user.user_id == None %}
                <a href={% url 'social:begin' 'twitter' %}>ログイン</a>
            {% else %}
                {{user}}
                {{ user.user_id }}
                koko{{ user.access_token.screen_name }}koko
                <a href="{% url 'user_auth:logout' %}" >ログアウト</button></a>
            {% endif %}
                {{user.uid}}


        </nav> <!-- navbar -->


        {% block content %}
            <!-- 継承先コンテンツ　-->
        {% endblock %}


    </body>
</html>

hello heroku