body{
    background-color: #c04c4c;
    font-size: 16px;
    color: #454545;
    
}
p{
    margin: auto;
}

.nav-user{
    color: white;
}

.nav-btn{
    background-color: #787878;
    color: white;
}

.nav-btn:hover{
    color: white;
}
.jumbotron{
    color: white;
    font-weight: bold;
    background: white url("images/top1.jpg") no-repeat;
    background-size: cover;
}

.btn-recruitment{
    color: white;
    background-color: #FF9F6B;
}
.btn-recruitment:hover{
    color: white;
    text-decoration: none;
}

.list-card{
    color: #454545;
    position: relative;
    text-decoration: none;
}
.list-card:hover{
    color: #454545;
    text-decoration: none;
}
.prefecture{
    margin: 0 10 10 10;
    padding: 10 10 5 10;
    position: absolute;
    background-color: #E861BF;
}

.card-game{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.list-date{
    border-right: 1px solid #e3e3e3;
}

.list-data{
    font-size: 12px;
}

.list-info{
    font-size: 10px;
    font-weight: bold;
    color: #b8b8b8;
}

.recruitment-container{
    text-align: center;
}

.form-label{
    color: #b8b8b8;
}